.news-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}
.news-one {
    margin: 7rem 0;
}
.img {
    overflow: hidden;
    width: 49rem;
    height: 33rem;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms;
}
.img:hover img {
    transform: scale(1.3);
}
.news-body {
    width: 49rem;
    height: 13rem;
    text-align: start;
}
.news-body h1::selection,
.news-body p::selection {
    background: #0085A1;
    color: #fff;
}
.news-body  h1 {
    font-size: 3rem;
    color: #000;
}
.news-body  h1:hover {
    color: #ff0000;
    transition: .3s;
}
.news-body .new-title {
    font-size: 2rem;
    font-weight: 200;
}
.news-body .post {
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.news-body h1,
.news-body .post,
.news-body .new-title {
    margin: 1.5rem 0;
}

@media (max-width: 768px) {
    .news-container {
        grid-template-columns: 1fr;
    }
}